$font-family-base: 'Helvetica', sans-serif;
$font-family-roboto: 'roboto';
$font-family-montserrat: 'Montserrat';
$font-size-base:1rem;
$line-height-base: 21px;

$body-background: #fff;
$body-color: #000;

$primary-color:#000;
$secondary-color:#fff;
$banner-bg-color:#ebebec;
$product-id-color:#808285;


$danger-color:#ff0000;
$success-color:#008000;
$item-number-color: #d5d5d5;
$filterBox-border-color:#979797;
$base-border-color:#e7e7e7;
$menu-hover-color:#808285;
$mega-menu-hover-bgColor:#f5f5f5;
$mega-menu-border-color:#f5f5f5;
$box-shadow-base-color:rgba(235, 235, 236, 0.5);
$black-transparent-02:rgba(0, 0, 0, 0.2);
$black-transparent-04:rgba(0, 0, 0, 0.4);

$footer-separator-color:#323333;
$footer-text-color:#e8eff7;