<div class="item-list">
  <div class="products-image">
    <img src="{{imagePath}}{{ productDetail.productImage }}" alt="{{ productDetail.productName }}" class="slider-product-image">
  </div>
  <div class="item-list-details">
    <div class="desc">
      <p>{{ productDetail.productName }}</p>
      <span>{{'itemNumber' | translate}}: {{ productDetail.itemNumber }}</span><br>
      <span>{{'europeanArticleNumber' | translate}}: {{ productDetail.productEAN }}</span>
    </div>
    <div class="cart-detail" style="display: none;">
      <div class="count-box">
        <p> {{ productDetail.productPrice }} </p>
        <div class="filter-list">
          <button class="minus" mat-button (click)="updateCart('remove')"></button>
          <span>{{ cartQty }}</span>
          <button class="plus" mat-button (click)="updateCart('add')"></button>
        </div>
      </div>
      <div class="add-cart-button">
        <button mat-button (click)="addToCart()">CHF {{ cartPrice }} <mat-icon>shopping_cart</mat-icon></button>
      </div>
    </div>
    <div class="products-pin">
      <a href="#" title="{{'pinTitle' | translate}}"> <img src="{{imagePath}}assets/images/pin.svg" alt="Pin"></a>
    </div>
  </div>
  <div class="item-details">
    <div class="title-details d-flex justify-content-between align-items-center">
      <a href="#">{{ productDetail.productName }} </a>
      <a href="#" title="{{'pinTitle' | translate}}">
        <img src="{{imagePath}}assets/images/pin.svg" alt="Pin">
      </a>
    </div>
    <h4>€ {{ productDetail.productPrice }}</h4>
    <div class="tag-details">
      <span>{{'itemNumber' | translate}}: <sub> {{ productDetail.itemNumber }} </sub></span> <br>
      <span>{{'europeanArticleNumber' | translate}}: <sub> {{ productDetail.productEAN }} </sub></span>
      <a href="#" title="{{'addToCart' | translate}}" class="float-right">
        <img src="{{imagePath}}assets/images/add-cart.png" alt="">
      </a>
    </div>
  </div>
</div>
